<p>
  <label><input type="radio" name="choice"
                (click)="setCupcakeChoice(CupcakeChoice.VANILLA)"> Vanilla</label><br>
  <label><input type="radio" name="choice"
                (click)="setCupcakeChoice(CupcakeChoice.CHOCOLATE)"> Chocolate</label><br>
  <label><input type="radio" name="choice"
                (click)="setCupcakeChoice(CupcakeChoice.REDVELVET)" checked> Red Velvet</label><br>
  <label><input type="radio" name="choice"
                (click)="setCupcakeChoice(CupcakeChoice.SALTEDCARAMEL)"> Salted Caramel</label><br>
  <label><input type="radio" name="choice"
                (click)="setCupcakeChoice(CupcakeChoice.COFFEE)"> Coffee</label>
</p>
<p></p>
<span class="cupcakePrice">{{bundleChoice | currency}}</span>
<p>
  <a routerLink="/">Cancel</a>&nbsp;
  <a routerLink="/confirm">Next</a>
</p>
